<br>

<div style = "position: relative;">
<div id="Times">
  <div *ngFor="let time of availableTimes" style="display: inline-flex;border: black;border-style:calc();">
    <div class="btn" (click)="setTime(time)">
      {{time/60}} min
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text">Set Time</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option *ngFor="let time of availableTimes">
      <div class="btn" (click)="setTime(time)">
        {{time/60}}min
      </div>
    </option>
  </select>
</div>

<div class="btn" id="startBtn" (click)="startClock(true)"> Start </div>
<div class="btn" id="startBtn" (click)="startClock(false)"> Stop </div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngFor="let time of availableTimes">
        <div class="btn-secondary" (click)="setTime(time)">

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div>
      </div>
    </div>

  </div>
</div>
<div id="clock">{{minutesLeft}}mins : {{timeLeft%60}}s</div>

<br>
<div class="progress">
  <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="12" [ngStyle]="{width: '30%'}" aria-valuemin="0" aria-valuemax="100"></div> -->
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
    [ngStyle]="myStyle" aria-valuemin="0" aria-valuemax="100"></div>

</div>
<div class="btn" (click)="playAudio()"> Start Music Test</div>
<div class="btn" (click)="stopAudio()"> Stop Audio</div>

</div>
<router-outlet> </router-outlet>

<!-- <div class="footer-dark">
  
  </div> -->