.progress{
    position: float;
    margin: auto;
    width: 80%;
   }

   *{
    color: white;
  }
  
   #Times{
   width: 50%;
   }

   .dropdown-item{
    text-align: center;
    color: black;
   }

   .input-group-text{
    color:white;
    background-color: grey;
   }

   #inputGroupSelect01{
    color:black;
   }

   .li{
    color:black;
   }

   .group{
    color: black;
   }
   
   .progress-bar {
   background-color: rgb(85,0,85);
   
   }
   .progress{
    transform: translate(6%, 0);
    overflow: hidden;
   }
    
    #clock{
      text-align: center;
      font-size: 700%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
      overflow: hidden;
      width: 50%;
      transform: translate(57%, 0);
    }
    
    .col {
      font-size: 200%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'Verdana, sans-serif;
    }

    .col-sm{
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    position: relative;

  }
    
    #startBtn {
      text-align: center;
      position: relative;
      width: 200px;
      height: 100px;
      font-size: 300%;
      vertical-align: middle;
      font-weight: bold;
    }

    .row{
      margin: auto;
      position: relative;
      left: 130px;
      width: fit-content;
      transform: translate(-16%, 0);
      overflow: hidden;
    }
  
    .brightness{
      opacity: 1;
    }

    #Atimes{
      z-index: 2;
      font-weight: bold;
      position: absolute;
      width: fit-content;
      transform: translate(-45%, 0);
      overflow: hidden;
    }

    
   