<p>to-do-list works!</p>

<table style = "border-color: black;" class = "table-bordered table striped">
    <thead> 
        <tr>
            <th> Booking Id <th>
            <th> Person Id </th>
            <th> Flight Id</th>
        </tr>
    </thead>
    <!-- <tbody>
        <tr *ngFor = "let booking of bookings">
            <td> {{ booking.bookingId }}</td>
            <td> {{ booking.personId }}</td>
            <td> {{ booking.flightId }}</td>

            <td style = "text-align: center;">
            <a href="#" routerLink="/flights/edit" class="btn btn-secondary">Edit</a>
            <button type="button" (click)="deleteBooking(booking.bookingId)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody> -->

</table>