
 .btn {
   width: 80px;
   height: 90px;
   background-image: url("../assets/DropDown2.png");
   background-size: 100%;
   border: none;
 }

 .col {
   text-decoration: none;
   font-size: 200%;
   font-family: sans-serif;
   padding: auto;
   text-align: center;
   display: block;
   padding-top: 1cm;
   color: black
 }
 
 .col a{
  text-decoration: none;
  color: black;
  }
  
 .row{
  float:center
 }
 
 .dropdown-item{
  text-align: center;
 }


 .col-sm {
   position: center;
   font-size: 300%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }

 .row {
   position: center;
 }

.btn a:hover{
  background-color: aqua;
  color: black
}

.brightness {
  background-color: white;
  margin: 1cm;
  float: inline-end;
} 
 .brightness .btn:hover {
  opacity: .5;
  background-color: blue;
}