.game-board{
margin:auto;
display: inline-block;
border:1px solid #000000;
}

*{
  color: white;
}

#col1{
position: relative;
left: 30%;
}

#col2{
position: relative;
right: 5%
}

.right-column{
  position: top;
  margin: auto;
}

.container{
  margin: auto;
  left: 100%;
  transform: translate(-45%, 0);
}


* {
    font-family: 'Press Start 2P', cursive;
  }
